@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    background-color: #ffffff;
    font-family: arial, sans-serif;
    color:#6D351A;
}
p{
    text-align: justify;
    text-indent: 50px;
}
p{
    text-align: justify;
    text-indent: 50px;
}

a{
    color: #af4e1d;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

div#interface{
    widows: 900px;
    background-color:#ffffff;
    margin: 10px auto 10px auto;
    box-shadow: 0px 0px 10px black;
    padding: 1px 10px 10px 10px;
}
header#cabecalho{
    border-bottom: 1px #301102 solid;
    background-color: #301102 ;
    /*background: url("../_imagens/cabecalho-fruta.jpg");*/
    height: 150px;
}
header#cabecalho h1{
    font-family: 'Dancing Script', cursive;
   color: #ffffff;
   font-size: 40px;
   text-shadow: 1px 1px 1px rgba(0,0,0,.6);
   padding: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
}
header#cabecalho h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
header#cabecalho img#icone{
    position: absolute;
    top: 39px;
    right: 18px;
}

figure.foto-legenda{
    position: relative;
    border:8px solid #ffffff;
    box-shadow: 1px 1px 4px black;
    width: 70%;
    height: 70%;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;    
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 1px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}
figure.foto-preparo{
    position: relative;
    float: left;
    margin: 0px 0px 0px 10px;
    left: -10px;
    width: 200px;
}
figure.foto-preparo img{
    width: 100%;
    height: 100%;
}

nav#menu{
    display: block;/*Configuração padrão de inicio de menu*/
}
nav#menu ul {
    list-style: none; /*retira as marcações*/
    text-transform: uppercase; /* coloca as letras em maiusculas*/
    position: absolute; /*consegue posicionar em qualquer lugar dentro do header*/
    top: 120px;
    left: -13px;
}
nav#menu li{
    display: inline-block;
    background-color: #301102;
    padding: 10px;/*espessura da borda*/
    margin: 2px;/*espeço ente os botões*/
    transition: background-color 0.5s;/*suavizar troca de cor*/
}
nav#menu li:hover{
    background-color: #632c10;/*troca cor de fundo quando passa o mouse*/
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color: #ffffff; /*altera cor do link*/
    text-decoration: none;/* retira subilinhado*/
}
section#corpo{ 
    display: block;
    width: 900px;
    float: left;
    border-right: 1px solid #af4e1d;
    padding-right: 15px;
    max-width:100%;
    height:auto;
}

article#noticia-principal h2{ /*Essa parte configura so o artigo */
    font-size: 12pt;
    color: #ffffff;
    background-color: #af4e1d;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1{
    font-family: Arial, sans-serif;
    font-size: 20pt;
    color: #6D351A;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #db8960;
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 12pt;
    color:  #af4e1d;
}
table#tabela{
    border: 1px solid #6D351A;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabela h3{
   color: #ffffff;
   font-size: 10pt;
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 0px;
}

table#tabela td{
    border: 1px solid #6D351A;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
table#tabela tr#titulo{
    border: 1px solid #ffffff;
    border-spacing: 0px;
    background-color: #6D351A;
    text-align: center;
    vertical-align: bottom;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #af4e1d;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

aside#lateral h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #ffffff;
    margin-top: 0px;
}

div#tv{

    margin: auto;
}
video#filme{
    display: block;
    position: relative;
    width: 300px;
}
footer#rodape{
    clear: both; /*O que será?*/
    border-top: 1px solid  #af4e1d;
}
footer#rodape p{
    text-align: center;
}